*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
}

body {
  font-size: 1.8em;
  line-height: calc(28/18);
  font-family: $sans1;
  font-weight: 400;
  color: $black; 
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
  font-family: $sans2;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 { font-size: 4.0rem; line-height: 1.20; }
h2 { font-size: 3.6rem; line-height: 1.25; }
h3 { font-size: 3.0rem; line-height: 1.30; }
h4 { font-size: 2.4rem; line-height: 1.35; }
h5 { font-size: 1.8rem; line-height: 1.50; }
h6 { font-size: 1.5rem; line-height: 1.60; }

/* Larger than phablet */
// @media (min-width: 550px) {
//   h1 { font-size: 5.0rem; }
//   h2 { font-size: 4.2rem; }
//   h3 { font-size: 3.6rem; }
//   h4 { font-size: 3.0rem; }
//   h5 { font-size: 2.4rem; }
//   h6 { font-size: 1.5rem; }
// }

header, section, footer {
  position: relative;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
