.button {
  display: inline-block;
  background: $purple;
  color: white;
  text-decoration: none;
  padding: 20px 40px;
  margin-top: 20px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.04), 0 20px 31px 0 rgba(0,0,0,0.16);
  transition: background ease-out .15s;

  &:hover {
    background: lighten($purple, 15%);
  }
}
