.chat_container {
  margin: 15px 0;
  opacity: 0;
}

.chat_profile {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  vertical-align: middle;
  background: $black url(../images/profile.jpg) center no-repeat;
  background-size: contain;
}

.chat_text {
  display: inline-block;
  text-align: left;
  color: $black;
  background: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  max-width: 80%;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);

  p {
    display: inline-block;
    margin: 0;
  }

  i.em {
    height: 1.2em;
    width: 1.2em;
  }
}

.c-right {
  text-align: right;

  .chat_text {
    color: white;
    background: #6772e5;
  }
}

.chat_text_first:before {
  content: 'Rohan';
  display: block;
  color: #6b7c93;
  font-size: 1.4rem;
  padding-left: 1.5rem;
}
.chat_text_first {
  opacity: 0;
}
.chat_info {
  text-align: center;

  p {
    display: inline-block;
    background: white;
    color: $black;
    padding: 10px 30px;
    margin: 20px 0 0 0;
    border-radius: 100px;
    box-shadow: 0 5px 20px -5px rgba(50,50,93,.12), 0 3px 4px -2px rgba(0,0,0,.08);
  }
}
