.chat_container {
  margin: 15px 0;
}

.c-right {
  text-align: right;

  .chat_text {
    color: $black;
    background: white;
  }
}

.chat_profile {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  vertical-align: middle;
  background: $black url(../images/profile.jpg) center no-repeat;
  background-size: contain;
}

.chat_text {
  display: inline-block;
  text-align: left;
  color: $black;
  background: $green;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  max-width: 80%;

  p {
    display: inline-block;
    margin: 0;
  }

  i.em {
    height: 1.2em;
    width: 1.2em;
  }
}

.chat_info {
  text-align: center;  

  p {
    display: inline-block;
    color: $purple;
    color: $indigo;
    background: white;
    padding: 10px 30px;
    margin: 20px 0 0 0;
    border-radius: 100px;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.05);
  }
}

.snippet {
  background: lightgreen;
  padding: 30px 40px;

  h2 {
    text-align: center;
  }
}
