.home {
  section {
    min-height: 100vh;
    padding: 20px 0;
  }

  .container {
    max-width: 840px;
  }

  .container-inner {
    position: relative;
    background: white;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,.1);
  }
}

.home_header {
  position: relative;
  text-align: center;
  background: $black url('../images/home-intro.jpg') center no-repeat;
  background-size: cover;
  color: white;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);
    opacity: .8;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: .5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}


.home_photo {
  text-align: center;
  background: $black url('../images/pune-past.jpg') center bottom no-repeat;
  background-size: cover;
  color: $black;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(246, 246, 246, 0) 0%, rgba(246, 246, 246, 0) 25%, rgba(246, 246, 246, .75) 75%, rgba(246, 246, 246, 1) 100%);
  }
}

.home_map {
  background: $grey;

  .container {
    max-width: 520px;
  }

  .dropcap {
    float: left;
    font-size: 5rem;
    font-weight: 300;
    line-height: 4.8rem;
    margin-right: .25rem;
  }

  .highlight {
    font-size: 2.8rem;
    font-weight: 700;
    padding: 0 20px;
    text-align: center;
  }
}

.home_profile {
  position: relative;
  background: $black url('../images/home-profile.jpg') 32% bottom no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.65) 100%);
    height: 200px;
    opacity: .9;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.65) 100%);
    height: 200px;
    opacity: .9;
  }
}

.home_profile_container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px 20px;
  background: white;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  z-index: 2;

  @media (min-width: 800px) {
    max-width: 560px;
    padding: 30px;
    margin: 40px;
    margin-right: 0;
    border-radius: 4px 0 0 4px;
  }

  h3 {
    font-family: $sans1;
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  p {
    margin: 0;
  }
}

// .home_footer {
//   text-align: center;

//   h3 {
//     font-size: 2.4rem;
//     font-weight: 400;
//     text-transform: uppercase;
//   }

//   .container {
//     max-width: 520px;
//   }
// }

// .container-inner {
//   visibility: hidden;
//   opacity: 0;
//   transition: opacity 1s ease-out;

//   &.is-active {
//     visibility: visible;
//     opacity: 1;
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }
// }
