.story_header {
  padding: 5rem 0;
  text-align: center;
  background: $black;
  background-image: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);

  .button {
    margin-top: 4rem;
  }
}

.story-profile-pic {
  img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.15);    
  }
}

.story_dialogue {
  position: relative;
  background: $grey;
  padding: 2.5rem 0 5rem;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(160, 160, 160, 0) 0%, rgba(160, 160, 160, 0) 40%, rgba(160, 160, 160, .5) 80%, rgba(160, 160, 160, 1) 100%);
    opacity: .9;
  }
}

.story_quote {
  position: relative;
  min-height: 100vh;

  &.story_quote_1 {
    background: url('../images/story-quote-1.jpg') 20% center no-repeat;
    background-size: cover;
    background-attachment: fixed; 
  }

  &.story_quote_2 {
    background: url('../images/story-quote-2.jpg') 75% center no-repeat;
    background-size: cover;  
    background-attachment: fixed; 
  }

  &.story_quote_3 {
    background: url('../images/story-quote-3.jpg') 30% center no-repeat;
    background-size: cover;  
    background-attachment: fixed; 
  }
}

.story_quote_container {
  p {
    margin: 0;
    font-weight: $xbold;
  }

  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 30px 20px;
  background: white;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: -90px;
    right: 45px;
    display: block;
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 50%;
    background: white url('../images/profile.jpg') center no-repeat;
    background-size: contain;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: -30px;
    right: 60px;
    border: 15px solid transparent;
    border-bottom-color: white;
    width: 0;
  }

  @media (min-width: 960px) {
    bottom: auto;
    right: 60px;
    top: 45%;
    transform: translateY(-50%);
    max-width: 560px;
    padding: 30px;
    border-radius: 5px;
    font-size: 2.2rem;

    &:before {
      content: '';
      position: absolute;
      top: auto;
      bottom: -90px;
      right: 30px;
      display: block;
      width: 60px;
      height: 60px;
      border: 3px solid white;
      border-radius: 50%;
      background: white url('../images/profile.jpg') center no-repeat;
      background-size: contain;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: auto;
      right: 40px;
      bottom: -20px;
      border-width: 20px 20px 0;
      border-style: solid;
      border-color: white transparent;
      width: 0;
    }
  }

  &.quote-left {
    &:before {
      left: 45px;
      right: auto;
    }

    &:after {
      left: 60px;
      right: auto;
    }

    @media (min-width: 960px) {
      left: 60px;
      right: auto;

      &:before {
        left: 30px;
        right: auto;
      }

      &:after {
        left: 40px;
        right: auto;
      }
    }
  }
}

.story_album {
  position: relative;
  padding: 5rem 0;

  .story_photo {
    position: relative;
    text-align: center;

    img {
      width: 100%;
      max-width: 900px;
      height: auto;
    }
  }
}

.story_snippet {
  color: white;
  padding: 5rem 0;
  background: $black;
  background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);

  .container {
    max-width: 520px;
  }

  img {
    display: block;
    margin: 2.5rem auto;
    width: 100%;
    max-width: 900px;
    height: auto;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  }
}

.cite {
  font-size: 1.2rem;
  vertical-align: top;
  padding-right: 5px;
}

.citation {
  font-size: 1.4rem;
  border-top: 1px solid rgba(255,255,255,.5);
  padding-top: 1.5rem;
  margin-top: 3rem;
  letter-spacing: .02rem;
}

// .snippet {
//   background: $grey url(../images/halftone.png);
//   padding: 3rem 0;

//   h2 {
//     text-align: center;
//   }

//   .snippet_container {
//     width: 90%;
//     background: white;
//     margin: 0 auto;
//     padding: 2rem;
//     box-shadow: 0 5px 20px -5px rgba(50,50,93,.12), 0 3px 4px -2px rgba(0,0,0,.08);

//     @media (min-width: 768px) {
//       width: 65%;
//       padding: 4rem; 
//     }
//   }
// }
