.story_header {
  background: $black;
  padding: 2rem 0 4rem;
  text-align: center;

  .button {
    margin-top: 4rem;
  }
}

.story-profile-pic {
  img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.15);    
  }
}

.story_convo {
  background: $grey;
}

.snippet {
  background: $grey url(../images/halftone.png);
  padding: 3rem 0;

  h2 {
    text-align: center;
  }

  .snippet_container {
    width: 90%;
    background: white;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 5px 20px -5px rgba(50,50,93,.12), 0 3px 4px -2px rgba(0,0,0,.08);

    @media (min-width: 768px) {
      width: 65%;
      padding: 4rem; 
    }
  }
}
