// Fonts
$sans1  : 'Mukta', Helvetica, Arial, sans-serif;
$sans2  : 'Baloo', Helvetica, Arial, sans-serif;

// Colors
$black  : #2b2b2b;
$purple : #734ba7;
$indigo : #555fc4;
$green  : #E4FFC9;
$grey   : #f6f6f6;
